body {
    margin: 0;
    background: #f9f9f9;
    font-variant-ligatures: none;
    font-family: 'Lato';
}

#app {
    width: 600px;
    margin: 20px auto;
    background: #ffffff;
    padding: 50px;
    border-radius: 5px;
}

h1 {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: normal;
  color: #52267D;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #efeff8;
  margin: 0;
}



form {
    /* Just to center the form on the page */
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 500px;
    /* To see the outline of the form */

}
form div + div {
    margin-top: 5px;
}
label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 70px;
    text-align: right;
    font-family: 'Lato', sans-serif;
    color: #B0B0DB;
}
input, textarea {
    font-family: 'Lato', sans-serif;
    /* To make sure that all text fields have the same font settings By default, textareas have a monospace font */
    font-size: 1em;
    /* To give the same size to all text fields */
    width: 80%;
    box-sizing: border-box; /* To harmonize the look & feel of text field border */
    border: 0;
    border-bottom: 1px solid #DFE1F0;
    padding: 5px;
}
input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    /*border-color: #000;*/
    outline: none;
}
textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    /* To give enough room to type some text */
    height: 5em;
}
.button {
    /* To position the buttons to the same position of the text fields */
  text-align: center;
    /* same size as the label elements */
}

.button button{
  display: inline-block;
}

button {
    background-color:#5e63b6;
    border:0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Lato';
    font-size:13px;
    font-weight:normal;
    padding: 14px;
    text-decoration:none;
    border-radius: 4px;
    margin-top: 14px;
}

button:hover {
    background-color:#3b438c;
}
button:active {
    position:relative;
    top:1px;
}
button:focus {
    outline: none;
}

.checkmark {
    font-family: 'Lato';
    font-weight: normal;
    color: #81cccc;
    font-size: 12px;
    margin: 0;
    display: inline-block;
}

.box-info{
  padding-bottom: 20px;
}

.collapsible {
  background-color: #efeff8;
  color: #5e63B6;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

.active, .collapsible:hover {
  background-color: #DFE1F0;
}

.content {
    font-family: 'Lato';
    font-size: 14px;
    color: #000;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.preview {
  width: 100%;
  margin-top: 10px;
  margin-bottom: : 10px;
  border: 2px solid #EFEFF8;
  border-radius: 4px;

}

li {
  color: #9452BA;
}

[v-cloak] { display: none; }

.js-custom-sleeve-option {
    display: inline-block;
}

.js-arrow-down {
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #5e63b6;
    float: right;
    margin-top: 8px;
}

.js-arrow-up {
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #5e63b6;
    float: right;
    margin-top: 8px;
}

.integragtion{
  display: inline-block;
}
